.App {
  text-align: center;
  color: snow;
  background-color: rgba(0, 128, 128, 0.68);
  font-family: Arial Narrow, sans-serif;
}
body {
  background-image: url("./fruit.jpeg");
}
ul {
  list-style-type: none;
}
.button {
  background-color: transparent;
  border: none;
  font-size: 40px;
  outline: none;
}
.button:hover {
  font-size: 50px;
  cursor: pointer;
}
.input {
  font-family: Arial Narrow, sans-serif;
}
